# cmake build folder
poshet/build/*

# folder where data is stored
.poshet/*
# default executable location after `make`
Poshet

# latex report files
docs/*.aux
docs/*.fdb_latexmk
docs/*.fls
docs/*.log
docs/*.synctex.gz
